{% extends "membership/base.html" %}

{% block content %}
<div class="row">
  <div class="one-half column">

<h2>Our Privacy Policy</h2>

<h3>Newsletter</h3>

We collect emails and send newsletters through <a href="https://www.mailerlite.com/">MailerLite</a>.

Our newsletters all have tracking disabled through MailerLite's services.
You can read their full privacy policy here: <a href="https://www.mailerlite.com/legal/privacy-policy">https://www.mailerlite.com/legal/privacy-policy</a>

<h3>Tickets at events</h3>

When selling tickets for events, we use <a href="https://djangodenmark.ticketbutler.io/">Ticketbutler</a>.

If you <b>opt in</b> to our newsletter while buying tickets at TicketButler, we may export your email address and name to the MailerLite website.

You can read their full privacy policy here: <a href="https://ticketbutler.io/en/privacy-policy/">https://ticketbutler.io/en/privacy-policy/</a>

<h3>Individual rights</h3>

We respect all GDPR rights. If you want to know if we have your contacts or be deleted, please email info@django-denmark.org. We can only respond to inquiries about the sender's origin email address.


  </div>
</div>

{% endblock %}
