{% extends "membership/base.html" %}

{% block content %}
<div class="row">
  <div class="one-half column">
    <p>
      Welcome to our very much Work In Progress website! Contact us at <a href="mailto:info@django-denmark.org">info@django-denmark.org</a>
    </p>


<h2>Address</h2>

<p>
<strong>Django Danmark</strong><br>
C/O Arbejdsfællesskabet<br>
Blågårdsgade 19, kl.<br>
2200 Copenhagen N<br>
Denmark<br>
CVR/VAT ID: 39311062
</p>

<p>
The board of the association is:
</p>
<ul>
<li>Emil B. Kjer (chair)</li>
<li>Benjamin B. Bach (treasurer)</li>
<li>Víðir Valberg Guðmundsson</li>
</ul>
    
  </div>
</div>

{% endblock %}
