{% extends "membership/base.html" %}

{% block content %}
<div class="row">
  <div class="one-half column">
    <p>
      Welcome to our very much Work In Progress website! Contact us at <a href="mailto:info@django-denmark.org">info@django-denmark.org</a>
    </p>

<h2>What we do...</h2>

<p>
    Our mission is to host and support education and networking activities in
    relation to the Open Source project <a href="https://www.djangoproject.com/">Django</a>.
</p>

<ul>
    <li>2018: <a href="https://2018.djangoday.dk/">Django Day Copenhagen</a></li>
    <li>2019: <a href="https://2019.djangocon.eu/">DjangoCon Europe</a> + support for <a href="https://twitter.com/dgcopenhagen">Django Girls Copenhagen</a></li>
    <li>2020: <a href="https://2020.djangoday.dk/">Django Day Copenhagen</a></li>
    <li>2021: <a href="https://djangogirls.org/copenhagen/">Django Girls Copenhagen (April 10th)</a></li>
    <li>2021: <a href="https://2021.djangoday.dk/">Django Day Copenhagen (Sept 24th)</a> (postponed)</li>
    <li>2022: <a href="https://2022.djangoday.dk/">Django Day Copenhagen (April 8th)</a></li>
    <li>2023: <a href="https://2023.djangoday.dk/">Django Day Copenhagen (April 14th)</a></li>
</ul>

<h2>Newsletter</h2>

<p>To receive our newsletter, use the following form:</p>

<p><em>Coming soon!</em></p>

<form method="POST" action="consent:signup">

{# Balder needs to fix a few things before this can work #}
{% comment %}
    {% newsletter_form.as_p %}
{% endcomment %}

</form>

<h2>Becoming a member</h2>

<p>As a registered Danish civic society, we have set out to open a membership platform together with the ticket sales for Django Day CPH 2020.</p>

<h2>Address</h2>

<p>
<strong>Django Danmark</strong><br>
C/O Arbejdsfællesskabet<br>
Blågårdsgade 19, kl.<br>
2200 Copenhagen N<br>
Denmark<br>
CVR/VAT ID: 39311062
</p>

<p>
The board of the association is:
</p>
<ul>
<li>Emil B. Kjer (chair)</li>
<li>Benjamin B. Bach (treasurer)</li>
<li>Víðir Valberg Guðmundsson</li>
</ul>

  </div>
</div>

{% endblock %}
