{% load static %}<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Django Denmark</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "css/custom.css" %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

<div class="row">
  <div class="one-half column" style="margin-top: 15%; margin-bottom: 50px;">
    <img src="{% static "img/logo.png" %}" style="width: 100%;">
  </div>
</div>
    
    {% block content %}
    {% endblock %}
    
    
    {% if user.is_authenticated %}
    
    <p>
      You are now logged in as {{ user }}
    </p>
    
    {% else %}
      <p>
        <a href="{% url 'membership:login' %}">Log in</a>
        //
        <a href="{% url 'membership:invite' %}">Sign up</a>
      </p>
    {% endif %}
    
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

