{% extends "company/base.html" %}

{% block content %}
    <div class="company-overview">
        <h1>Companies that use Django</h1>
        <p>All the resources we've created are open sourced under Creative Commons Attribution 4.0 International (CC BY 4). This means that you can modify, distribute and use commercially, but you cannot sublicense and you have to give us credit and include copyright.</p>
        {% if user.is_authenticated %}
            <button onclick="window.location.href='/company/createCompanyProfile/'" class="btn btn-django">Create company Profile</button>
        {% endif %}
        <br>
        <br>
        <div class="card-container">
        {% for Company in company_list %}
        <div class="card company-card">
                <img class="card-img-top company-logo" src="{{ Company.logoImage.url}}" alt="{{ Company.companyName }}">
                <div class="card-body">
                    <h5 class="card-title">{{ Company.companyName }}</h5>
                    <p class="card-text company-description">{{ Company.description }}</p>
                    <a href="/company/{{ Company.pk }}/detailViewCompanyProfile" class="btn btn-django">Go to company profile</a>
                </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
