{% extends "company/base.html" %}

{% block content %}
    <div class="company-overview">
        <h1>Companies that use Django</h1>
        <p>All the resources we've created are open sourced under Creative Commons Attribution 4.0 International (CC BY 4). This means that you can modify, distribute and use commercially, but you cannot sublicense and you have to give us credit and include copyright.</p>
        {% if user.is_authenticated %}
            <button onclick="window.location.href='/company/createCompanyProfile/'" class="btn btn-django">Create company Profile</button>
        {% endif %}
        <br>
        <br>
        <div class="card-container">
        {% for Company in company_list %}
        <div class="card company-card">
                <img class="card-img-top company-logo" src="{{ Company.logoImage.url}}" alt="{{ Company.companyName }}">
                <div class="card-body">
                    <h5 class="card-title">{{ Company.companyName }}</h5>
                    <p class="card-text company-description">{{ Company.description }}</p>
                    <button type="button" class="btn btn-django" data-bs-toggle="modal" data-bs-target="#exampleModal{{ Company.pk }}">See company profile</button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ Company.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        <div class="modal-header">
                            <img class="card-img-top company-logo" src="{{ Company.logoImage.url}}" alt="{{ Company.companyName }}">
                            <h4 class="modal-title" id="exampleModalLabel">{{ Company.companyName }}</h4 >
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <br>
                        <div class="modal-body row">
                            <div class="col-6">
                                <h6>Company Info</h6>
                                <div>{{ Company.phoneNumber }}</div>
                                <div>{{ Company.email }}</div>
                                <div class="company-url" onclick="window.location.href='{{ Company.websiteURL }}'">{{ Company.websiteURL }}</div>
                                <div>{{ Company.streetName }} {{ Company.houseNumber }}, {{ Company.postalCode }} {{ Company.region }}</div>
                            </div>
                            <div class="col-6">
                                <h5>Description:</h5>
                                
                                <p>{{ Company.description|linebreaks }}</p>
                                <h5>Relation to Django:</h5>
                                <p>{{ Company.relationToDjango|linebreaks }}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
