{% extends "company/base.html" %}
{% block content %}

{% load widget_tweaks %}
<form method="post" enctype="multipart/form-data" class="company-profile-form">
    <h1>Create Company Profile</h1>
    {% csrf_token %}
    
    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
        </div>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-django" value="Create Profile">Submit</button>
{% endblock %}
