{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <div class="signup-container">
    <h2 class="signup-heading">Sign up</h2>
    <form method="post" action="">
      {% csrf_token %}

      <div class="signup-input">
      <label for="id_username">Username</label> 
      <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" placeholder="Username"> 
    </div>

    <div class="email-input">
      <label for="id_email">Email</label>
      <input type="email" name="email" maxlength="150" autocapitalize="none" autocomplete="email" required="@" id="id_email" placeholder="Email"> 
    </div>
    
    <div class="password1">
      <label for="id_password1">Password</label> 
      <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="Password">
    </div>
    
    <div class="password2">
      <label for="id_password2">Repeat Password</label>
      <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="Repeat Password"> 
      <div class="signup-button">
        <button type="submit" class="btn signup-btn">Sign Up</button>
      </div>
    </div>
    {% csrf_token %}
    </form>
  </div>
  <div class="musthave-Password">
    <p>150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
    <p>Password: Your password can’t be too similar to your other personal information.</p>
    <p>Your password must contain at least 8 characters.</p>
    <p>Your password can’t be a commonly used password.</p>
    <p>Your password can’t be entirely numeric.</p>
  </div>
  

{% endblock %}