{% extends "company/detailViewEditUpdateProfile.html" %}

{% block deleteContent %}

<div class="modal" id="myPageModal{{ Company.pk }}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input type="submit" value="Delete Profile">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}