{% extends "jobpost/base.html" %}

{% block content %}
    <div class="company-overview">
        <h1>Job Postings</h1>
        <p>All the resources we've created are open sourced under Creative Commons Attribution 4.0 International (CC BY 4). This means that you can modify, distribute and use commercially, but you cannot sublicense and you have to give us credit and include copyright.</p>
        <form action="{% url 'jobpostoverview' %}" method="get">
            <input name="q" type="text" placeholder="Search...">
            <button type="submit" class="btn btn-django">search after job</button>
        </form>
        {% if user.is_authenticated %}
            <button onclick="window.location.href='/jobpost/createjobpost/'" class="btn btn-django">Create Job posting</button>
        {% endif %}
        <br>
        <br>
        <div class="card-container">
        {% for Jobpost in jobpost_list %}
        <div class="card jobpost-card">
                <div class="card-body">
                    <h5 class="card-title">{{ Jobpost.jobTitle }}</h5>
                    <h6 class="card-text info-line">{{ Jobpost.jobCompanyName }} &bull; {{ Jobpost.jobLocation }} &bull; {{ Jobpost.jobType }}</h6>
                    <p class="card-text company-description">{{ Jobpost.jobDescription }}</p>
                    <button type="button" class="btn btn-django" data-bs-toggle="modal" data-bs-target="#exampleModal{{ Jobpost.pk }}">See Job</button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ Jobpost.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">{{ Jobpost.jobTitle }}</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <br>
                        <div class="modal-body row">
                            <div class="col-6">
                                <h6>Job Info</h6>
                                <div>{{ Jobpost.jobCompanyName }}</div>
                                <div>{{ Jobpost.jobContactPerson }}</div>
                                <div>{{ Jobpost.jobLocation }}</div>
                                <div>{{ Jobpost.jobType }}</div>
                            </div>
                            <div class="col-6">
                                <h5>Description:</h5>
                                <p>{{ Jobpost.jobDescription|linebreaks }}</p>
                                <button class="btn btn-django" onclick="window.location.href='{{ Jobpost.jobApplyHere }}'">Apply here</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
