.company-overview {
    margin: 100px auto;
}
.company-profile-form {
    margin: 100px auto;
    line-height: 35px;
    max-width: 700px;
}
.btn-django {
    background-color: #00C380;
    color: white;
}
.form-control {
    border-color: #00C380;
}
.company-card {
    max-width: 250px;
    margin: 5px 20px;
    box-shadow: 4px 4px 5px -1px rgba(184,184,184,1);

}
.company-logo {
    height: 150px;
}
.card-container {
    display: flex;
}
