.company-overview {
    margin: 100px auto;
}
.btn-django {
    background-color: #00C380;
    color: white;
}
.form-control {
    border-color: #00C380;
}
.company-card {
    width: 250px;
    margin: 15px 20px;
    box-shadow: 4px 4px 5px -1px rgba(184,184,184,1);
}
.company-logo {
    height: 100px;
    width: 150px;
    padding: 10px;
    object-fit: contain;
}
.company-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    min-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
.modal-header {
    border-bottom: 1px solid #00C380;
}
.modal-body {
    padding: 2rem;
}
.company-url {
    text-decoration: underline;
}
.jobpost-card {
    width: 557px;
    margin: 15px 20px;
    box-shadow: 4px 4px 5px -1px rgba(184,184,184,1);
}
.btn-grouped {
    margin-top: 10px;
}
.info-line{
    color: gray;
}
.job-list {
    height: 415px;
    margin-bottom: -70px;
    margin-top: -15px;
    overflow: auto;
}
.job-list::-webkit-scrollbar {
    -webkit-appearance: none;
}
.job-list::-webkit-scrollbar:vertical {
    width: 5px;
}
.job-list::-webkit-scrollbar-thumb:vertical {
    border-radius: 8px;
    border: 2px solid #00C380; /* should match background, can't be transparent */
    background-color: #00C380;
}
.job-list::-webkit-scrollbar:horizontal {
    display: none;
}
.search-text {
    margin-top: 10px;
}
.search-input {
    margin-bottom: 10px;
}