.bg-light {
    background-color: #00C380 !important;
}
.navbar-toggler {
    color: #00C380 !important;
}
.nav-link, .navbar-brand {
    color: white !important;
}
.login-logo {
    width: 25px;
    height: 25px;
}